ESIOS_TOKEN=
ESIOS_ATC_INDICATOR_ID=10209
ESIOS_BESS_ONLINE_INDICATOR_ID=
ESIOS_BESS_ABSORPTION_INDICATOR_ID=
ESIOS_BESS_DISCHARGE_INDICATOR_ID=
REE_NODE_MAP_PATH=data/raw/ree_node_capacity.csv
OMIE_DATA_PATH=data/raw/omie/
